<div class="mainDiv">
        <div class="headerWrap">
                <div class="imageWrapHeader">
                    <img src="../../assets/mukandlogo.png">
                </div>
                <div class="headingParaWrap">
                    <b> Seth Jai Parkash Mukand Lal Institute of Technology</b>
                </div>
        </div>
        <div class="container">
            <div class="card dashboardCard">
               <!--   <div class="testHeadWrap" routerLink="/paper">
                   <b>Click Here For start a test</b>
               -->
                <div class="testHeadWrap">
                    <b>Thankyou from Adroits Hub Team</b>
                </div>
               
            </div>

         
        </div>
</div>