.mainDiv {
    float: left;
    width: 100%;
}
.headerWrap {
    float: left;
    width: 100%;
    height: 140px;
    padding: 15px;
    background-color: #80808014;
    box-shadow: 0px 1px 8px 3px #0000ff59;
}
.imageWrapHeader {
    float: left;
    width: 12%;
    height: 100%;
}
.imageWrapHeader img{
    float: left;
    width: 100%;
    margin: 18px 0px;
    height: 45px;
}
.headingParaWrap {
    float: left;
    width: 80%;
    padding: 18px;
    text-align: center;
    font-size: 32px;
}
.dashboardCard {
    float: left;
    width: 90%;
    margin: 3%;
    text-align: center;
}
.testHeadWrap {
    float: left;
    background-color: blue;
    box-shadow: 0px 1px 8px 3px #0000ff59;
    color: white;
    padding: 5%;
}
.testHeadWrap:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
}

@media screen and (max-width : 800px) {
.headerWrap {
    height: 88px;
    padding: 6px;
}
.imageWrapHeader {
    width: 25%;
}
.headingParaWrap {
width: 75%;
padding: 22px 27px;
font-size: 12px;
} 
.dashboardCard {
    width : 80%;
}











}