<div class="mainDiv">
        <div class="headerWrap">
                <div class="imageWrapHeader">
                    <img src="../../assets/mukandlogo.png">
                </div>
                <div class="headingParaWrap">
                    <b> Seth Jai Parkash Mukand Lal Institute of Technology</b>
                </div>
        </div>
        <div class="container">
            <div class="card dashboardCard">
        <!--        <div class="testHeadWrap" routerLink="/paper">
                   <b> Simple Interest and Compound Interest</b>
                </div>-->
                <div class="testHeadWrap">
                    <b>Test will be conducted on 10th May 2020(Sunday) at 7:00pm to 8:00pm</b>
                </div>
            </div>

         
        </div>
</div>