<div class="mainWrap">
    <div class="headerWrap">
        <div class="imageWrapHeader">
            <img src="../../assets/mukandlogo.png">
        </div>
        <div class="headingParaWrap">
          <b>  Seth Jai Parkash Mukand Lal Institute of Technology</b>
        </div>
        </div>

<div class="container">
        <form #forgotPaswwordForm="ngForm" method="post" (ngSubmit)="onSearch(newRegistration)">
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter College Email
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text"  name="email" #email="ngModel" class="form-control" [(ngModel)]="newRegistration.email" pattern="[a-zA-Z0-9.-_]{1,}@jmit.ac.in" required>
                 <div *ngIf="email.invalid && email.dirty" class="text-danger">
                    Enter the email in @jmit.ac.in form 
                  </div></div> 
               
            </div>

            <div class="buttonWrap">
                <div class="buttonDiv">
                <button class="btn btn-primary" [disabled]="!forgotPaswwordForm.form.valid">Submit</button>
            </div>
            </div>
        </form>
    </div>

</div>
